#content{
    content: "";
    display: block;
    clear: both;
    height: 100%;
    background-color:#fff;
}
#game-div{
    background-color:#fff;
}
#joystick-div{
}

div{
    float:left;
    height:100%;
    padding:0 0px;
    background-color: white;
}
